html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: overlay;
  scrollbar-gutter: stable;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.separator {
  background-image: radial-gradient(center center, 50% 50%, rgba(0, 0, 0, 0.1), transparent);
  background-repeat: no-repeat;
  background-position: 0 -10px;
  background-size: 100% 20px;
  border-top: 1px solid #dedede;
  box-shadow: 0 -1px 0 0 white;
  height: 20px;
  width: 80%;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #b8ed17;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 4px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #b8ed17, 0 0 5px #b8ed17;
  opacity: 1;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
